{% load static %}
{% load humanize %}
{% load numbertowords %}
{% block style %} 
<style>
    .container {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        font-size: 10px;
        font-family:Helvetica, sans-serif ;
    }
    
    h5 {
        margin-bottom: 0em;
        font-size: 1.5rem;
    }

    .header {
        align-items: center;
        margin-bottom: 0.5em;
        -pdf-keep-with-next: true;
    }
    .header a {
        font-size: 0.8rem;
        margin-left: 0.5em;
        border-radius: 0.5em;
        padding:4px;
    }   

    .header a:hover {
        background-color: var(--primary-color) !important;
        color:white;
        text-decoration: none;
    }
    .d-flex {
        display: flex !important;
        color:#646464;
        font-size: 0.95rem;
    }

    .space-between {
        justify-content: space-between;
    }

    label {
        margin: 0;
    }

    .text-underline {
        font-style: italic;
        margin-left: 5px;
        font-size:0.9em;
        min-width: 300px;
        border-bottom-width: 1px;
        border-bottom-style:solid;
        border-bottom-color:#898888;
        color: #973752;
        font-weight: 600;
        float:right;
    }

    .section h5 {
        margin: 0;
        font-weight: 800;
        color:  #525252;
    }
    .section {
        box-shadow: inset 2px 2px 0.1em #ccc, 
                    2px 2px 0.1em #ccc;
        padding:6px 8px;
        border-radius: 4px;
        width: 600px;
    }

    b {
        color: #525252;
    }
    .border-all {
        border-bottom: 1px solid #333;
        margin-left: 0.2em;
        color: #973752;
        font-weight: 600;
        font-size: 0.9em;
    }

    table tr {
        margin:0;
        padding: 1px 8px;
    }
    
    tr td {
        padding:0;
        margin:0;
        border-collapse: collapse;
    }
    .decoration-none {
        text-decoration: none !important;
        color: #525252;
    }

    .w-20 {
        width:45pt
    }
    .w-80 {
        width: 400pt;
    }
    @page {
        size: b6 portrait;
        @frame header_frame {
            -pdf-frame-content: header_content;
            left: 0pt; width: 600pt; top: 1pt; height: 10pt;
            /* -pdf-frame-border: 1;   */
        }

        @frame section_frame {
            -pdf-frame-content: section;
            left: 1pt; width: 512pt; top: 15pt; 

            /* -pdf-frame-border: 1;   */
        }
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="">
        <div class="section" id="receipt">
            <!-- <div class="d-flex space-between" id="header_content">
                <h5 class="">RECEIPT</h5>
                <p class="">Date <b>{{ current_date | date:"y-m-d"}}</b></p>
                <p>No. <b>{{ tenant.pk }}</b></p>
            </div> -->

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col"><h5 class="">RECEIPT</h5></th>
                    <th scope="col"> <p class="">Date <b>{{ current_date | date:"y-m-d"}}</b></p></th>
                    <th scope="col"> <p>No. <b>{{ tenant.pk }}</b></p></th>
                  </tr>
                </thead>
            </table>            

            <div class="section-2" id="section">
                <!-- <div class="d-flex">
                    Recieved From <div class="text-underline">{{ tenant.get_full_name }}</div> 
                    Amount <div class="border-all"> Ksh {{ tenant.rent_charge }} </div>
                </div> -->

                <table>
                    <tr>
                        <td class="w-20">Recieved From</td>
                        <td><div class="text-underline">{{ tenant.get_full_name }}</div> </td>
                        <td> 
                            <td>Amount</td>
                            <td> 
                                <div class="border-all"> Ksh {{ tenant.rent_charge }} </div>
                            </td>    
                        </td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td scope=""> 
                            <div class="border-all"> Ksh {{ tenant.rent_charge }} </div>
                        </td>
                    </tr>

                    <tr>
                        <td scope="col">
                            Amount <span class="text-underline">{{ tenant.rent_charge | numbertowords | title }} Kenyan Shillings Only </span> 
                        </td>
                    </tr>
                    <tr>
                        <td scope="col">For Payment of<div class="text-underline"> Rent Payment for {{ tenant.apartment }} room number {{tenant.room_code}}</div> 
                        </td>
                    </tr>
                    
                    <tr class="">
                        <td class="w-20">Paid By</td>
                        <td class="">
                            <div class="text-underline">Cash</div>
                        </td>
                        <td>  </td>
                    </tr>

                    <tr>
                        <td class="w-20">Recieved By</td>
                        <td><div class="text-underline">{{ user.get_full_name }} MY NAME</div> </td>
                        <td>  </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/html2canvas.min.js' %}"></script>
<script>
    html2canvas(document.querySelector("#receipt")).then(canvas => {
        document.body.appendChild(canvas)
    });
</script>
{% endblock %}