{% extends 'base.html' %}
{% load static %}
{% block title %} Property {% endblock %}
{% block style %} 
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock %}
{% block content %}
    <div class="main-container" id="container">
        <div class="card-section">
            <div class="search-tab" id="filter-section">
                <!-- collapsible search tab -->
                <span class="collapse-btn" id="collapse-filter"></span>

                <div class="filter px-2 py-2">
                    <div class="form-row mt-3">
                        <!-- <div class="col-md-3"> -->
                            <!-- <select class="custom-select">
                                <option selected value="buy">Buy</option>
                                <option value="1">To rent</option>
                                <option value="2">Professional to Buy</option>
                                <option value="3">Property to Rent</option>
                            </select> -->
                        <!-- </div> -->
                        <div class="col-md-11">
                          <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                            <input type="text" id="query" class="form-control border-none" placeholder="Search Address ..." name="query">
                            <div class="input-group-append">
                                <button type="submit" class="input-group-text bg-brand" id="look-for">Look for</button>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="form-row mt-2 d-none" >
                        <div class="col-md-3">
                            <select class="custom-select" id="property-item">
                                <option selected value="buy">Type of Property</option>
                                <option value="1">Villa</option>
                                <option value="2">Bungalow</option>
                                <option value="3">Apartment</option>
                                <option value="">Penthouse</option>
                            </select>
                        </div>

                        <div class="col-md-2 col-xs-6">
                            <select class="custom-select" id="min-price">
                                <option selected value="buy">Min Price</option>
                                <option value="1">10000</option>
                                <option value="2">20000</option>
                                <option value="2">40000</option>
                                <option value="2">60000</option>
                                <option value="3">10000000</option>
                            </select>
                        </div>

                        <div class="col-md-2 col-xs-6">
                            <select class="custom-select" id="max-price">
                                <option selected value="buy">Max Price</option>
                                <option value="1">10000</option>
                                <option value="2">20000</option>
                                <option value="2">40000</option>
                                <option value="2">60000</option>
                                <option value="3">10000000</option>
                            </select>
                        </div>

                        <div class="col-md-2 col-xs-6">
                            <select class="custom-select">
                                <option selected value="buy">Min Rooms</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>

                        <div class="col-xs-6 col-sm-2 ">
                            <select class="custom-select">
                                <option selected value="buy">Max Rooms</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="result-summary ml-4 mt-2">
                <div class="d-flex px-0">
                    <p class="my-0">8 houses found</p>
                    <div class="menu mx-2">
                        

                        <i class="fa fa-list"></i>
                        <i class="fa fa-th"></i>
                    </div>
                </div>
               
                <h4 class="my-0">Houses in selected map area</h4>
            </div>
        
            <div id="card-list" class="card-list">
            </div>
           

            <!-- People also searched for -->
            <div class="container-fluid bg-light">
                <h4 class="my-0">People also Searched for</h4>

                <div class="similar-search " style="height: 200px;">

                </div>
            </div>
        </div>

        <div class="map-container">
            <div class="map" id="mapContainer">
            </div>
        </div>

        <div class="toggle-map">
            <input type="checkbox" name="toggle-map" id="map-toggler">
            <label for="toggle-map">Toggle Map</label>
        </div>

        {% if user.is_authenticated and user.is_agency %}
            <a href="{% url 'create-property' %}" class="btn-add"> 
                <i class="fa fa-plus"></i>
            </a>
        {% endif %}

    </div>
</div>
{% endblock %}
{% block javascript %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
