{% extends 'base.html' %}
{% load static %}
{% block title %} Property Detail {% endblock %}
{% block style %} 
  <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div>
        <ol class="crumbs">
            <li class="custom-breadcrumb-item"><a href="{% url 'home' %}">
                <i class="fa fa-long-arrow-left"></i>
                Back to Search</a>
                 <!-- <i class="fa fa-chevron-right"></i> -->
            </li>
            <!-- <li class="custom-breadcrumb-item"><a href="#">Home</a> <i class="fa fa-chevron-right"></i></li>
            <li class="custom-breadcrumb-item"><a href="#">Library</a> <i class="fa fa-chevron-right"> </i></li>
            <li class="custom-breadcrumb-item active" aria-current="page">Data <i class="fa fa-chevron-right"></i></li> -->
        </ol>
    </div>
    <div class="row" id="image-section" >
        <div class="col-md-9">
            <img src="/media/prop.webp" alt="" class="img-fluid img-cust" >
        </div>
        <div class="col-md-3">
            <img src="/media/prop.webp" alt="" class="img-fluid img-sm" >
            <img src="/media/prop.webp" alt="" class="img-fluid img-sm mt-3" >
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-8 px-0">
            <div class="d-flex">
                <div>
                    <h4 class="title">{{ property.title }}</h4>
                    <h5 class="mb-0">Ksh {{ property.price }} p/m</h5>
                    <p class="my-0"> <i class="fa fa-map-marker"></i> {{ property.location }}</p>
                    <div class='d-flex px-0'>
                        <span class="mr-2"><i class='fa fa-bath '></i> 2 Baths</i></span>
                        <span class="mx-2"><i class='fa fa-bed '></i> 3 Beds</span>
                        <span class="mx-2"><i class='fa fa-area-chart '></i> {{ property.square_feet }} sqft</i></span>
                    </div>
                </div>

                <div class=" mx-2">
                    <!-- <h5 class="mb-0">Ksh {{ property.price }}</h5> -->
                </div>

                <div class="">
                    <!-- <h5 class="title">Ksh 80000</h5>s -->
                </div>
            </div>

            <!-- <div class="description px-3 my-4">
                <div class="title-md h5">Local Information</div>
                <div class="d-flex px-0">
                    <div class="info">
                        <img src="/media/map.jpg" alt="" class="">
                        <div class="section-description">
                            <div class="title-md">Map</div>
                        </div>
                    </div>
                    <div class="info">
                        <img src="/media/map.jpg" alt="" class="">
                        <div class="section-description">
                            <div class="title-md">Crime</div>
                        </div>
                    </div>
                    <div class="info">
                        <img src="/media/map.jpg" alt="" class="">
                        <div class="section-description">
                            <div class="title-md">Schools</div>
                        </div>
                    </div>
                    <div class="info">
                        <img src="/media/map.jpg" alt="" class="">
                        <div class="section-description">
                            <div class="title-md">Commute</div>
                        </div>
                    </div>
                </div>
                
            </div> -->
            <div class="description px-0 my-4">
                <div class="title-md h5">Description</div>
                <p>
                    {{ property.description }}
                </p>
                
            </div>

            <div class="px-0">
                <a href="{% url 'update-property' property.slug %}" class="btn btn-primary text-white"> <i class="fa fa-pencil"></i> Update</a>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>

    <!-- modal -->
</div>
{% endblock %}

{% block javascript %}
{% endblock %}