{% extends 'base.html' %}
{% load static %}
{% block title %} Apartments {% endblock %}
{% block style %} 
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
<style>
    #map {
        height: 80vh;
        width: 100%;
    }

    .apartment-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
        grid-template-rows: max-content;
        grid-gap: 10px;
        padding: 1.25em;
    }

    .card {
        height: 200px;
        width: 100%;   
        background: transparent;
        overflow: hidden;
    }

    img {
        height: 200px;
        width:100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;   
    }

    .card h5  {
        margin: 0;
        background-color: #545b62a6;;
        padding: 0.3em;
        position: relative;
    }

    h5 a {
        text-decoration: none;
        color:var(--light-gray);
        font-size: 0.9em;
    }

    h5 a:hover {
        text-decoration: none;
        color:var(--brand-color)
    }

    .card-body {
        background-color: #333333af;
        color: var(--white);
        height: 26px;
        overflow: hidden;
        display: block;
        position: absolute;
        width: 26px;
        border-radius: 0 50% 0 0;
        bottom: 0%;
        transition: 1.5s all;
        padding: 0;
    }

    .card-body .apartment-detail {
        display: none;
    }

    .card:hover .card-body {
        height: 100%;
        width: 100%;
        bottom: -18%;
        padding: 1.25em;
        border-radius: 0%;
    }

    .card:hover .card-body .apartment-detail {
        display: block;
    }

    .card:hover .card-body .info {
         top: 1%;
         right: 2%;
    }

    .card-body p {
        margin: 0;
        display: flex;
        justify-content: space-between;
    }

    .card-body p span {
        font-weight: 600;
    }
    .card-body .info {
        position: absolute;
        position: absolute;
        top: 5%;
        right: 30%;
    }
    .leaflet-popup-content-wrapper {
    border-radius: 0px                      ;
    padding:-2px;
}

.leaflet-popup-content {
    margin:-1px !important;
    width: 200px !important;
    min-width:200px;
}

.leaflet-popup-close-button {
    mix-blend-mode: difference;
}

.popup-content {
    width: auto;
}

.marker-tip {
    position: absolute;
    bottom: 0%;
    z-index: 2;
    left: 35%;
    margin-bottom: -13px;
    border: 8px solid;
    border-color: rgb(229 153 13) transparent transparent transparent;
}

.leaflet-touch .leaflet-bar {
    border-width: 0px !important;
}

.leaflet-touch .leaflet-bar a:first-child {
    margin-bottom: 3px;
}

.leaflet-touch .leaflet-bar a{
    padding: 0;
    border-radius: 50% !important;
    text-align: center;
    color: var(--white);
    font-weight: 500;
    width: 28px;
    height: 28px;
    line-height: 28px;
    background-color: var(--brand-color);
    box-shadow: 2px 2px 0.2em var(--gray);
}


/* Util classes */
.d-flex {
    padding: 0.2em 1em;
    display: flex;
    justify-content: space-between;
}
.btn-add {
    position: absolute;
    top:0%;
    left:3%;
    z-index: 3;
    padding: 0.1em 0.4em;
    border-radius: 0.2em;
    background-color: var(--primary-color);
    width: 40px;
    color: white;
    text-align: center;
}
.row {
    position: relative;
}
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <h5 class="px-2">Apartments</h5>

    <form class="form-inline my-2 my-lg-0 px-2" id="search-form">
        <input class="form-control mr-sm-2 w-50" type="search" placeholder="Search" aria-label="Search" name="query" id="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <div class="row my-3">
        {% if user.is_authenticated and user.is_agency %}
            <a href="{% url 'create-apartments' %}" class="btn-add bg-brand mx-3 px-2"> 
                <i class="fa fa-plus"></i>
            </a>
        {% endif %}
        <div class="col-md-7" id="apartment-list" >
           
        </div>
        <div class="col-md-5">
            <div class="map" id="map"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-omnivore/0.3.4/leaflet-omnivore.min.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

    <script src="https://unpkg.com/corslite@0.0.7/corslite.js"></script>
    <script src="https://unpkg.com/polyline@0.2.0/src/polyline.js"></script>

    <script src="/static/js/L.Routing.GraphHopper.js"></script>
    <script src="/static/js/L.Routing.js"></script>

    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    
    <script src="{% static 'js/apartments/list.js' %}"></script>
{% endblock %}