{% extends 'base.html' %}
{% block title %} User Profile {% endblock %}
{% block style %}
    <style>
        .row {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .card {
            box-shadow: 2px 2px 0.1em var(--light);
            padding: 0rem;
            overflow: hidden;
            display: flex;
            flex-direction: row;
        }

        .card .card-img-top {
            object-fit: cover;
        }

        .info p {
            margin: 0;
            font-size: 0.9rem;
            display: flex;
            justify-content: space-between;
            padding: 0.2em;
        }

        .info p + .info p {
            border-color: var(--gray2);
        }
    </style>
{% endblock %}
{% block content %}
<div class="container mt-5">
       <div class="row">
            <!-- User Info -->
            {% if profile %}
            <div class="card">
                <div class="">
                    <img src="/media/{{ profile.image }}" alt="" class="card-img-top">
                    
                </div>
                <div class="info px-3">
                    <b>Username</b> 
                    <p>{{ profile.user.username}}</p>
                    <b>Email</b>
                    <p> {{ profile.user.email }}</p>
                    <b>Full Name</b>
                    <p> {{ profile.user.last_name }} {{ profile.user.first_name }}</p>

                    {% if user.username == profile.user.username %}
                        <div class="btn-group my-2">
                            <a href="{% url 'password_change' %}" class="btn btn-sm btn-success">Change Password</a><br>
                            <a href="{% url 'update-profile' %}" class="btn btn-sm btn-success mx-1">
                                <i class="fa fa-pen"></i>Edit Profile
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% else %}
            <div class="card">
                <h4>User Profile Does Not exist.</h4>
            </div>
            {% endif %}
       </div>

       <h5>Apartments</h5>
       <table class="table">
           <thead>
               <th>Name</th>
               <th>Location</th>
               <th>Available Units</th>
           </thead>
        {% for apartment in apartments %}
            <tr>
                <td><a href="{% url 'apartment-detail' apartment.pk %}">{{ apartment.name }}</a></td>
                <td>{{ apartment.location }}</td>
                <td>{{ apartment.get_empty_units }}</td>
            </tr>
            
        {% endfor %}
       </table>
</div>
{% endblock %}