{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block style %} 
    {% endblock %}

</head>
<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="{% url 'home' %}">
          Property
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item {% if section == 'home' %} active {% endif %}">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              
              {% if user.is_authenticated and user.is_agency %}
              <li class="nav-item {% if section == 'tenants' %} active {% endif %}">
                <a class="nav-link" href="{% url 'tenants' %}" tabindex="-1">Tenants</a>
              </li>
              {% endif %}

              <li class="nav-item {% if section == 'apartments' %} active {% endif %}">
                <a class="nav-link" href="{% url 'apartments' %}" tabindex="-1">Apartment</a>
              </li>

              <li class="nav-item {% if section == 'apartments' %} active {% endif %}">
                <a class="nav-link" href="{% url 'apartments' %}" tabindex="-1">Dashboard</a>
              </li>
            </ul>

            <ul class="navbar-nav">
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}"> {{ user.username }}</a>
              </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'signup' %}">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
              {% endif %}
            </ul>
            
          </div>
    </nav>

    {% block content %}
    {% endblock %}

    <div class="footer bg-dark mt-4" >

    </div>
    <script src="{% static 'js/jquery.js' %}"></script>
    {% block javascript %} {% endblock %}
    
</body>
</html>