{% extends 'base.html' %}
{% load static %}
{% block title %} Landlord Registration {% endblock %}
{% block style %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
<!-- <link rel="stylesheet" href="{% static 'css/footer.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/updateform.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <form action="" method="post" enctype="multipart/form-data" id="form">
        <h5 class="text-center">{{ section }}</h5>
        <div id="property-location" class="d-none">
            {{ form.geom.value }}
        </div>
        {{ form.errors }}
        {% csrf_token %}
        <div class="form-row">
            <div class="col">
                {{ form.first_name.label_tag }}
                {{ form.first_name }}

                {{ form.last_name.label_tag }}
                {{ form.last_name }}

                {{ form.id_number.label_tag }}
                {{ form.id_number }}

                {{ form.phone_number.label_tag }}
                {{ form.phone_number }}

                {{ form.email.label_tag }}
                {{ form.email }}

                {{ form.marital_status.label_tag }}
                {{ form.marital_status }}

                {{ form.apartment.label_tag }}
                {{ form.apartment }}

                {{ form.floor.label_tag }}
                {{ form.floor }}

                {{ form.room_type.label_tag }}
                {{ form.room_type }}

               
            
            </div>
            <div class="col">
                <div class="py-1">
                    {{ form.room_code.label_tag }}
                    {{ form.room_code }}

                    <div class="form-check">
                        {{ form.is_active }}
                        {{ form.is_active.label_tag }}
                    </div>

                    <div class="form-check">
                        {{ form.is_paid }}
                        {{ form.is_paid.label_tag }}
                    </div>

                    <label for="geom">Geom</label>
                    <input type="text" name="geom" value="{{ form.geom.value }}" class="form-control form-control-sm my-2" id="id_geom" readonly>
                </div>

                <!-- map section -->
                <div class="my-2" id="map" style="width: 100%; height:270px">

                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success mt-3 w-100">Submit</button>
    </form>
</div>   
{% endblock %}
{% block javascript %} 
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <script src="{% static 'js/addControl.js' %}"></script>
    <!-- <script src="{% static 'js/createupdate.js' %}"></script> -->
    <script>
        $("#id_apartment").attr('hidden', true);
    </script>
{% endblock %}
